* {
  text-decoration: none;
  list-style-type: none;
}
.App {
  text-align: center;
}
.soft {
  display: flex;
  justify-content: space-around;
  background: linear-gradient(skyblue,white, deepskyblue);
}
.soft ul {
  display: flex;
  gap: 2rem;
  font-size: 20px;
}

.images {
  width: 18rem;
  height: 20rem;
}

.innerdata {
  margin-left: 1rem;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 1fr);

}
.details {
  font-size: 4rem;
  font-family: "Lobster", cursive;
}
.details span {
  color: blue;
}
.shop span {
  color: blue;
}
.link li:hover{
  font-size: 22px;
  text-decoration: underline;
}
